In [1]:
import pandas as pd

In [5]:
pwd

'c:\\Users\\kunyakorn\\Desktop\\dsi321_2025\\test'

In [15]:

df = pd.read_parquet("../data/data.parquet")
df['cleaned_title'] = df['cleaned_title'].astype('string')
df['keyword'] = df['keyword'].astype('string')
df['timestamp'] = pd.to_datetime(df['timestamp'], format='mixed')
df['timestamp'] = df['timestamp'].dt.tz_convert('UTC')
df.to_parquet('../data/data.parquet', engine='pyarrow')
df.dtypes

cleaned_title         string[python]
keyword               string[python]
timestamp        datetime64[ns, UTC]
dtype: object

In [18]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cleaned_title  1000 non-null   string
 1   keyword        1000 non-null   string
 2   timestamp      1000 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), string(2)
memory usage: 23.6 KB

,cleaned_title,keyword,timestamp
0,griffon industrial conglomerate stock greater ...,construction materials,2025-05-14 14:24:00+00:00
1,construmat showcases transformation towards su...,construction materials,2025-05-14 08:00:00+00:00
2,tantimber announce partnership deliver sustain...,construction materials,2025-05-14 11:15:00+00:00
3,debris turns gold axios,construction materials,2025-05-12 11:20:50+00:00
4,resilience makes case california rebuilds wild...,construction materials,2025-05-12 22:25:00+00:00
...,...,...,...
995,doman price target lowered canaccord genuity d...,building materials,2025-05-13 06:32:36+00:00
996,stifel nicolaus issues positive doman stock pr...,building materials,2025-05-13 06:33:58+00:00
997,td securities issues positive doman stock pric...,building materials,2025-05-13 06:33:57+00:00
998,approved ahead hurricane season local alerts,building materials,2025-05-13 05:54:21+00:00
999,doman price target raised td securities reporter,building materials,2025-05-13 06:31:22+00:00